        <!--================Builder Image Area =================-->
        <seciton class="builder_area">
        	<div class="main_title">
        		<h2>Our Latest Projects</h2>
        		<p>Who are in extremely love with eco friendly system.</p>
        	</div>
          <div class="row m0 builder_inner">
            <div class="builder_item">
              <img src="builder/img/builder/builder-1.jpg" alt="">
              <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
              </div>
            </div>
            <div class="builder_item">
              <img src="builder/img/builder/builder-2.jpg" alt="">
              <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
              </div>
            </div>
            <div class="builder_item">
              <img src="builder/img/builder/builder-3.jpg" alt="">
              <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
              </div>
            </div>
            <div class="builder_item">
              <img src="builder/img/builder/builder-4.jpg" alt="">
              <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
              </div>
            </div>
            <div class="builder_item">
              <img src="builder/img/builder/builder-5.jpg" alt="">
              <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
              </div>
            </div>
            <div class="builder_item">
              <img src="builder/img/builder/builder-6.jpg" alt="">
              <div class="hover">
                <h4>Alex Complex for Residence</h4>
                <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
              </div>
            </div>
          </div>
        </seciton>
        <!--================End Builder Image Area =================-->
        
