        <!--================Counter Area =================-->
        <section class="counter_area">
        	<div class="container">
        		<div class="row m0 counter_inner">
        			<div class="counter_item">
        				<h4 class="counter">596</h4>
        				<p>Projects Completed</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">552</h4>
        				<p>Really Happy Clients</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">5962</h4>
        				<p>Total Tasks Completed</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">1009</h4>
        				<p>Cups of Coffee Taken</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">435</h4>
        				<p>In House Professionals</p>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Counter Area =================-->
        


