        <!--================Services Area =================-->
        <section class="services_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Our Offered Services</h2>
        			<p>Lorem ipsum dolor sit amet, consecteturadipis icing elit,</p>
        		</div>
        		<div class="row services_inner">
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="builder/img/icon/service-icon-1.png" alt="">
        					<a href="#"><h4>Building Drawings</h4></a>
        					<p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="builder/img/icon/service-icon-2.png" alt="">
        					<a href="#"><h4>Painting Constructions</h4></a>
        					<p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="builder/img/icon/service-icon-3.png" alt="">
        					<a href="#"><h4>Repairing Constructions</h4></a>
        					<p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Services Area =================-->
        
